$cinza-sidebars: #343541;
$cinza-background-chat: #202123;
$cinza-componentes: #2e2f37;
$background: #131416;
$laranja: #ffa559;
$cinza-chat-1: #474856;
$cinza-chat-2: #30313c;
$laranja-textos: #ffe6c7;
$cinza-claro-texto: #dbd7df;
$cinza-escuro-texto: #343541;
