.navbar {
    background-color: $cinza-sidebars;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 40px 24px;
    width: 80px;

    @media (max-width: 768px) {
        align-items: center;
        flex-direction: row;
        height: 80px;
        padding: 10px 24px;
        width: 100%;
    }

    &-logo {
        cursor: pointer;
        height: 32px;
        width: 32px;

        img {
            width: 100%;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media (max-width: 768px) {
            align-items: center;
            flex-direction: row;
        }

        &-item {
            align-items: center;
            background-color: $cinza-sidebars;
            border: none;
            color: $cinza-claro-texto;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            font-size: 13px;
            gap: 4px;
        }
    }
}
